/*Global Styling*/
* {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;

    /*--------------------*/
    /*-------DEBUG--------*/
    /*--------------------*/
    /* border: 1px solid seagreen;  */
}

/*styles entire body of app*/
body {
    background-color: palegoldenrod;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Style wrapper for entire quiz box */
.container {
    width: 80vw;
    max-width: 80%;
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
 
}

.quiz-container {
    margin: 0 auto; 
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    border: solid 3px seagreen;
    background-color: peachpuff;
    align-items: center;
    text-align: center;
}

.options {
    display: none;
}

.scorecard {
    display: none;
}

.high-scores {
    display: none;
}